*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
local.properties
.idea/workspace.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/workspace.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/workspace.xml
.idea/misc.xml
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/workspace.xml
local.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/6.8/gc.properties
.gradle/6.8/fileHashes/fileHashes.lock
.gradle/6.8/fileHashes/fileHashes.bin
.gradle/6.8/fileChanges/last-build.bin
.gradle/6.8/executionHistory/executionHistory.lock
.gradle/6.8/executionHistory/executionHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/misc.xml
.idea/workspace.xml
