<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lascosasquenovemos.view">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lcqnv_logo_sin_fondo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lcqnv_logo_sin_fondo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".CrearTematicaVista"
            android:exported="false" />
        <activity
            android:name=".ComprobarResultadoVista"
            android:exported="false" />
        <activity
            android:name=".MainVista"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerQuizVista"
            android:exported="false" />
        <activity
            android:name=".InfoVista"
            android:exported="false" />
        <activity
            android:name=".CrearQuizVista"
            android:exported="false" />
        <activity
            android:name=".TextoVista"
            android:exported="false" />
        <activity
            android:name=".AdminVista"
            android:exported="false" />
    </application>

</manifest>